<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    {% if i %}
    <div class="mb-2" style="border-style: groove; border-radius: 10px">
      <div class="card-header">
        <p class="m-0" style="font-size: 20px">{{word}} Word's in that text</p>
      </div>
    </div>
    {% endif %}

    <div
      class="col-12 pb-3"
      style="
        background-color: #c2d6d6;
        border: 2px;
        border-style: groove;
        border-radius: 10px;
      "
    >
      <form action="counter" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="text1">Paste you're text</label>
          <textarea
            class="form-control"
            placeholder="Paste you're text here to count word and character"
            name="texttocount"
            id="text1"
            rows="8"
            style="background-color: #f0f5f5"
          >
{{text}}</textarea
          >
        </div>

        <!-- ads section start-->
        <div class="text-center">ads</div>

        <!-- ads section end -->
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary w-25">
            Run Counter
          </button>
        </div>
      </form>
    </div>
    <script src="" async defer></script>
  </body>
</html>
